{% extends 'base.html' %}
{% block content %}
<div id="ab2" class="container-fluid">
    
</div>
<br><br><br>
<div style="width: 80%;" class="container">
    <p style="text-align: justify;text-justify: inter-word;line-height:1.6;">At Profin Solutions, we understand that taking out a loan is a big decision.It is the reason why we offer our services to those who need it the most. Whether one is a doctor/medical professional, small business owner, or salaried individual, we’re committed to providing the best possible service to our clients.Headquartered in Chennai, India, Profin works with its clients to tailor a loan that best meets their needs.  
    <br><br>With a vast amount of experience related to funding in the field of SME, Healthcare and Education Sector, our founder Aravindan Sriramulu understands the needs of the professionals associated with these fields.
    <br><br>Built on his vision, Profin offers dedicated services to the doctors and healthcare professionals to avail unsecured loans, Medical Equipment Loans, Mortgage loans (Hospital, Residential & Commercial), Home Loans & Car Loans.
    <br><br>We always put our customers first and it’s led to some excellent financial solutions and services that they have come to appreciate. It’s our focus on making sure they’re completely satisfied. This outlook has allowed us to maintain such long-lasting relationships with them.</p>
    
    <br><br>
    <h2>Our USP</h2>
    <p style="text-align: justify;text-justify: inter-word;">Profin offers one of the most competitive rates of interest in the industry</p>
    <hr>
    <p style="text-align: justify;text-justify: inter-word;">We assist clients in getting various important financial statements from our authorities.</p>

    <br><br><br>
</div>
{% endblock content %}